html,
body,
#app {
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  font-family:
          Inter,
          "PingFang SC",
          "Microsoft YaHei",
          Arial,
          sans-serif;
}

* {
  box-sizing: border-box;
}